.button {
    font-size: 1.5rem;
    padding: 15px 30px;
    font-weight: bold;
    background-color: rgba(178, 253, 163, 0.2); 
    border: 2px solid white;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease-in-out;
    z-index: 2;
}

.button:hover {
    background-color: rgba(178, 253, 163, 0.6);
}