/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&display=swap');

/* style */
/* general */
* {
    /* text */
    font-family: "Atma", system-ui;
    font-size: clamp(20px, 2vw, 24px);
    letter-spacing: .05em;
    z-index: 2;
}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* start page */
.start-page {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-image: url('/images/background2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    background-color: black;
    flex-direction: column;
    overflow: hidden;
}

.start-page::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    pointer-events: none;
    z-index: 1;
}

.start-welcome-text{
    text-shadow: 0 10px 7px rgba(0,0,0,0.4);
    font-size: 4em;
    color: #41ff41;
}

/* Tabs */

.tab-button {
    background: none;
    border: 2px solid #008f07;
    color: #008f07;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 1.1rem;
    border-radius: 5px;
    transition: all 0.3s;
}

.tab-button:hover {
    background-color:  rgba(97, 255, 92, 0.3);
    color: white;
}

.tab-button.active {
    background-color: #008f07;
    color: white;
}

.auth-banner {
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #d4eddad5;
  color: #155724;
  border: 1px solid #c3e6cb;
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: fit-content;
  max-width: 90%;
  z-index: 9999;
}

.auth-banner-close {
  background: none;
  border: none;
  color: #000000;
  font-size: 0.7rem;
  cursor: pointer;
  margin-left: 12px;
  vertical-align: middle;
}

.auth-banner-close:hover {
  opacity: 0.6;
}

/* Form Container */
.floating-form-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  min-width: 400px;
  width: 60vw;
  width: 90%;
  z-index: 3;
}

/* Input Fields */
.form-input {
  width: 95%;
  padding: 5px 14px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

/* Buttons */
.form-button {
  width: 100%;
  padding: 5px;
  background-color: #008f07;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  margin-top: 10px;
}

.form-button:hover {
  background-color: #008f07;
}

.form-label {
  font-weight: bold;
  min-width: 130px;
}

/* Links */
a {
  color: #008f07;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.categories-page {
  overflow: auto;
  background-image: url('images/background3.jpg');
}

.levels-page {
  overflow: auto;
  background-image: url('images/background3.jpg');
}

.title {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  padding: 20px;
  padding-bottom: 60px;
  flex-shrink: 0;
}

.title2 {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: start;
  color: #ffffff;
  flex-shrink: 0;
}

.circle-container {
  position: relative;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.circle-node-wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
}

.level-page {
  background-image: url("images/background4.jpg"); 
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.level-box {
  flex: 1;
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  margin: 1rem auto;
  padding: 2rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  gap: 1rem;
  width: 90%;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;
}

/* Left section */
.level-person {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 50%;
}

.character-image {
  height: 18vh;
  width: auto;
  border-radius: 100%;
  margin-bottom: 1rem;
}

.character-speech {
  background: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  max-height: 35vh;
  width: auto;
  overflow-y: auto;
}

/* Right section */
.level-automat {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
}

.automat-box {
  background: white;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  max-height: 58vh;
  width: auto;
  height: auto;
}

.automat-image {
  max-height: 50vh; 
  width: auto;
  height: auto;
  display: block;
}

.repair-button-area {
  display: flex;
  justify-content: center;
  padding-bottom: 2rem;
}

.repair-button-area button {
  background-color: #4caf50;
  font-size: 1.2rem;
}

.repair-button-area button:hover {
  background-color: #388e3c;
}




.editor-page {
  background-image: url("images/background4.jpg"); 
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor-window {
  background: white;
  border-radius: 12px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 90%;
  height: 90%;
  margin: 1.2rem;
  margin-top: 0rem;
  text-align: center;
}

.editor-stage-wrapper {
  width: 100%;
  height: 85%;
}

.editor-stage {
  width: 100%;
  height: 100%;
  background-color: #f8f8f8;
  border: 2px dashed #aaaaaa;
  box-sizing: border-box;
}


.editor-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  width: 100%;
  box-sizing: border-box;
}

.footer-center,
.footer-right {
  display: flex;
  align-items: center;
}

.footer-right button {
  background-color: #4caf50;
  font-size: 1rem;
}

.footer-right button:hover {
  background-color: #388e3c;
}

.editor-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 32px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 4px;
  transition: background-color 0.2s ease;
}

.add-state-button {
  background-color: #eaffea;
  border: 2px dashed #00aa00;
  color: #00aa00;
}

.add-state-button:hover {
  background-color: #d5f5d5;
}

.add-arrow-button {
  background-color: #ffe8cc;
  border: 2px dashed #884400;
  color: #884400;
}

.add-arrow-button:hover {
  background-color: #fad2a1;
}

.add-arrow-button.active {
  background-color: #ffcc80;
  border: 2px solid #884400;
}

.remove-button {
  background-color: #fddcdc;
  border: 2px dashed #aa0000;
  color: #aa0000;
  margin-right: 30px;
}

.remove-button:hover {
  background-color: #ffbdbd;
}

.remove-button.active {
  background-color: #ffb3b3;
  border: 2px solid #aa0000;
}

.reset-button {
  width: 90px;
  height: 60px;
  border-radius: 6px;
  font-size: 0.9rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 50px;
  transition: background-color 0.2s ease;
  background-color: #cfcfcf;
  border: 2px solid #292929;
}


.reset-button:hover {
  background-color: #bebebe;
}

.value-selection-banner {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  background: #fffbc2;
  padding: 12px 20px;
  border: 2px solid #ffa927;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  display: flex;
  gap: 10px;
  margin: auto;
  align-items: center;
  cursor: default;
  z-index: 1000;
}

.value-selection-banner select, option {
  width: auto;
  padding: 10px 14px;
  font-size: 0.7rem;
  font-weight: 500;
  border: 1px solid #ffa927;
  border-radius: 8px;
  background-color: #fdfdfd;
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
}

.no-levels-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.4rem;
  color: #9e9e9e;
  text-align: center;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.public-levels-page {
  background-image: url("images/background2.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.public-levels-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #41ff41;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.public-levels-table-wrapper {
  flex: 1;
  width: 95%;
  height: 84vh;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.public-levels-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.1rem;
}

.public-levels-table thead {
  background-color: #bbffbb;
  position: sticky;
  top: 0;
  z-index: 1;
}

.public-levels-table th,
.public-levels-table td {
  padding: 0.5rem;
  border: 1px solid #ccc;
  text-align: center;
  word-break: break-word;
}

.public-levels-table td:first-child,
.public-levels-table th:first-child {
  width: 45%;
  white-space: normal;   
}

.public-levels-table tbody tr:hover {
  background-color: rgba(97, 255, 92, 0.3);
  transition: background-color 0.2s;
  cursor: pointer;
}

.clickable {
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s;
}

.clickable:hover {
  background-color: rgba(97, 255, 92, 0.3);
}

.filter-input {
  width: 95%;
  padding: 0.2rem;
  font-size: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  text-align: center;
  vertical-align: top;
}

.start-page,
.categories-page,
.levels-page,
.editor-page {
  padding-top: 40px;  /* navbar height */
}

.form-message {
  margin-top: 1rem;
  color: #008f07;
  font-weight: bold;
  text-align: center;
}

.create-level-button {
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.create-level-button button {
  background-color: #008f07;
  color: white;
  font-weight: bold;
  padding: 2px 16px;
  border-radius: 6px;
  border: none;
}

.create-level-button button:hover {
  background-color: #005704;
  cursor: pointer;
}


.level-editor-form {
  min-width: 700px;
  width: 70vw;
  overflow-y: auto;
  margin: 20px auto;
  padding: 40px;
}

